*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: block;
    width: 100rem;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    border-radius: 10px;
    /* padding: 10px; */
    text-align: center;
}

.header{
    font-size: 6rem;
    font-weight: bold;
    background-color: rgb(63, 220, 220);
    border-radius: 20px;
}
.detailedImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 70%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}
.imgHameleon{
    width: 600px;
}
.titleImg{
    padding:20px;
    border-radius: 10px;
    background-color: silver;
    font-size: 4.5rem;
    position: absolute;
    margin-top: 300px;
    margin-right: 400px;
}
.cards{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    gap: 20px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: #0071ff;
    font-size: 2rem;
    border-radius: 20px;
    overflow: hidden;
}
.cardImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
