html{
    font-size: 62.5%;
    color: #333;
    background-color: #f0f0f0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    font-size: 3.5em;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
}
.text{
    font-size: 1.5rem;
    width: 50ch;
    border: 1px solid #333;
    font-family: opensans; 
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text:hover{
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
}