body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.detailedContainer{
    display: flex;
    flex-direction: column;
}
.detailedContainer--image{
    width: 25vh;
    height: 25vh;
    display: flex;
    background-color: gold;
    font-size: 3rem;
    width: 500px;
    object-fit: cover;
}
.detailedContainer--title{
    width: 500px;
    background-color: beige;
    font-size: 2rem;
}
.boxes{
    display: flex;
    flex-direction: row;
    width: 50vh;
    justify-content: space-around;
    margin-top: 20px;
}
.box{
    background-color: aliceblue;
    color: darkgrey;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    width: 10vh;
    height: 10vh;
    border: 1px solid red;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}